<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Top 20</h1>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="movie" ng-repeat="film in topList.films">
        <div class="row">
          <div class="col col-33">
            <img class="movie__poster" ng-src="{{::film.urlPoster}}" alt="{{::film.title }}">
          </div>
          <div class="col col-67">
            <h2 class="movie__title" ng-bind="::film.title"></h2>
            <p class="movie__label" ng-bind="::film.year"></p>
            <p class="movie__label" ng-bind="::film.rating"></p>
              <span class="movie__label">Genre:</span>
              <ul class="movie__list">
                <li class="movie__list-item"  ng-repeat="genre in ::film.genres" ng-bind="::genre"></li>
              </ul>
              <span class="movie__label">Country:</span>
              <ul class="movie__list">
                <li class="movie__list-item" ng-repeat="country in ::film.countries" ng-bind="::country"></li>
              </ul>
              <span class="movie__label">Director:</span>
              <ul class="movie__list">
                <li class="movie__list-item">
                  <a href="{{::'http://www.imdb.com/name/' + director.id}}" ng-repeat="director in ::film.directors" ng-bind="::director.name"></a>
                </li>
              </ul>
            <button class="button button-balanced movie__btn"
                    ng-repeat="quality in ::film.trailer.qualities"
                    ng-click="topList.openTrailer(quality.videoURL)"
                    ng-bind="::quality.quality">
            </button>
            <button
              class="button button-icon icon  movie__favorite {{topList.isFavorite(film.idIMDB) ? 'ion-ios-star':'ion-ios-star-outline'}}"
              ng-click="topList.addToFavorite(film)"></button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
